# Dependencies
node_modules
package-lock.json

# Build output
dist
build
coverage

# Environment files
.env
.env.*

# Logs
*.log
logs

# Database
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Git
.git
.gitignore
